/FitManager/target/
/Fitmanager/.idea/
/Fitmanager/.vscode/
/FitManager1/nbproject/private/
/FitManager/nbproject/
/JavaApplication2/nbproject/private/
/FitManager/build/
/FitManager/dist/
/FitManager/.settings/
/FitManager/.classpath
/FitManager/.project
/FitManager/bin/
/.vscode/