/FitManager/target/
/Fitmanager/.idea/
/Fitmanager/.vscode/
/FitManager1/nbproject/private/
/FitManager/nbproject/
/JavaApplication2/nbproject/private/
/FitManager/build/
/FitManager/dist/
/FitManager/.settings/
/FitManager/.classpath
/FitManager/.project
/FitManager/bin/
/.vscode/
/FitManager/out/
/FitManager/FitManager.iml
/FitManager/teste/
FitManager.code-workspace
/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication6/nbproject/private/
FitManager/data/